:root {
    --color-primary: #392f5a;
    --color-secondary: #18206f ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background:linear-gradient(var(--color-primary), var(--color-secondary));
    color: #ffffff;
}
h1 {
    text-align: center;
}
.results {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
.results__data {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}